<div class="container">
<h1> Listen to your favorite songs here! Plus many more inside!</h1>
<table class =" table-bordered table-hover">
        <thead class="thead-inverse">
            <tr class="active">
                <th><p>Song Title</p></th> 
                <th><p>Artist</p></th>
                <th><p>Length</p></th>
            </tr>
        </thead>
  
    <tbody>
        <tr>
            <td><p>Weary</p></td>
            <td><p>Solange</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/02+Weary.m4a", controls: true%></td>
        </tr>
        <tr>
            <td><p>Brotha</p></td>
            <td><p>Angie Stone</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/02+Brotha.m4a", controls: true%></td>
        </tr>
         <tr>
            <td><p>Work</p></td>
            <td><p>Rihanna ft. Drake</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/01+Work+(feat.+Drake).m4a", controls: true%></td>
        </tr>
        <tr>
            <td><p>You Go Down Smooth</p></td>
            <td><p>Lake Street Drive</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/05+You+Go+Down+Smooth.m4a", controls: true%></td>
        </tr>
        <tr>
            <td><p>Love Today</p></td>
            <td><p>Judith Hill</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/01+Love+Today.m4a", controls: true%></td>
        </tr> 
        <tr>
            <td><p>Permission</p></td>
            <td><p>Ro James</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/02+Permission.m4a", controls: true%></td>
        </tr>
        <tr>
            <td><p>Phone Down</p></td>
            <td><p>Erykah Badu</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/04+Phone+Down.m4a", controls: true%></td>
        </tr>    
        <tr>
            <td><p>3 Times in a Row</p></td>
            <td><p>TK and Cash</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/3+Times+In+a+Row.m4a", controls: true%></td>
        </tr>  
        <tr>
            <td><p>How Does It Feel?</p></td>
            <td><p>Kamiyah</p></td>
            <td><%= audio_tag "https://s3-us-west-1.amazonaws.com/sitemusic/Music/09+How+Does+It+Feel.m4a", controls: true%></td>
        </tr>
    </tbody>
</table>

</div>

